.task {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.task-name {
    width: 30%;
    margin: 0;
    margin-left: 10px
}

.task-desc {
    width: 65%;
    margin: 0;
}

.task-checkbox {
    display: flex;
    justify-content: right;
    width: 5%;
    margin-right: 1%;
}