.home {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.heading-view {
    height: fit-content;
}

.header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #000;
}

.home-link {
  color: white;
}
a {
  text-decoration: none;
}
